* {
    font-family: Arial, Helvetica, sans-serif;
}
header, header nav {
    text-align: center;
}
a[target] {
    font-weight: bold;
    font-size: large    ;
    }
footer {
    text-align: center;
    background: rebeccapurple;
    clear: both;
}
article section {
    float: left;
    margin: 10px;
    border: 4px groove   rebeccapurple ;
    background: rgb( 200,100, 100, .8) ;
}   
article {
    background: red;
}
article ul, article ol {
    list-style: none;
}
body table {
    background: rosybrown;
}
body {
    width: 90%;
    margin: 0 auto;
}